h3 {
  margin-bottom: 0 !important;
}

em {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

.title {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: right;
  align-items: center;
}

.icon img {
  width: 50px;
  height: 50px;
}

.temperature {
  font-size: 2.5rem;
}

.units {
  vertical-align: top;
}

.units a {
  color: #aaa !important;
}

ul {
  list-style-type: none;
  padding-left: 0 !important;
}

.text-mute {
  opacity: 0.8;
}

.right {
  display: flex;
  justify-content: right;
}

/* Media screen */
@media only screen and (max-width: 369px) {
  .temperature {
    font-size: 2rem;
  }
  .icon img {
    width: 30px;
    height: 30px;
  }
}