.card {
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 0 !important;
}
/* .card-header {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-bottom: none !important;
} */
.card-header {
  background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  border-bottom: none !important;
}

.form-control {
  color: #555 !important;
  border: none !important;
  letter-spacing: 0.03rem;
  font-weight: 300 !important;
}
.form-control:focus {
  color: #555 !important;
  box-shadow: none !important;
}
.form-control::placeholder {
  color: #999 !important;
  letter-spacing: 0.03rem;
}

.btn {
  color: #fff !important;
  font-weight: 300 !important;
  letter-spacing: 0.03rem;
}
.btn-light {
  color: #fff !important;
  background-color: rgba(250, 250, 250, 0.5) !important;
  border-color: transparent !important;
}
.btn-light:hover {
  color: #fff !important;
  background-color: rgba(250, 250, 250, 0.7) !important;
  border-color: transparent !important;
}
.btn-light:focus {
  box-shadow: none !important;
}

/* Color theme */
.day-clear {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.day-rainy {
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.day-cloudy {
  background: linear-gradient(to left, #bdbbbe 0%, #9d9ea3 100%),
    radial-gradient(
      88% 271%,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(254, 254, 254, 0.25) 1%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    radial-gradient(
      50% 100%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: normal, lighten, soft-light;
}
.night-clear {
  background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}
.night-early {
  background: linear-gradient(
    to top,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
}
.night-midnight {
  background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

/* Media screen */
@media only screen and (max-width: 1500px) {
  .card {
    margin: 3rem 13rem;
  }
}

@media only screen and (max-width: 1000px) {
  .card {
    margin: 3rem 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .card {
    margin: 3rem 1rem;
  }
}
