.weatherForecast {
  text-align: center;
}

img {
  width: 80px;
  height: 80px;
}

.min-forecast {
  opacity: 0.6;
}

/* Media screen */
@media only screen and (max-width: 559px) {
  .forecast-icon {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 650px) {
  .col-4 {
    flex: 1 0 0% !important;
  }
}
